main {
  padding: 2rem;
  background-color: var(--shape-background);
  height: 100vh;
  overflow-y: auto;
}

.container-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: fit-content;
  margin: 0 auto;
}

.header-main {
  color: var(--text-heading);
  font: var(--headingMd);
}

.sobre-evento {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  gap: 0.5rem;
  h2 {
    color: var(--text-heading);
    font: var(--headingSm);
  }
}

.input-titulo {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  input {
    background-color: var(--input-base);
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    margin-top: 1rem;
    border: 1px solid var(--input-stroke);
  }

  input::placeholder {
    color: var(--input-placeholder);
    font: var(--bodyMd);
  }

  p {
    color: var(--text-body);
    font: var(--bodySm);
  }
}

.inputs-data {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  gap: 2rem;
}

.input-inicio {
  p {
    color: var(--text-body);
    margin-bottom: 0.5rem;
    font: var(--bodySm);
  }

  input {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    width: fit-content;
  }

  input::placeholder {
    color: var(--input-placeholder);
    font: var(--bodyMd);
  }
}

.input-fim {
  p {
    color: var(--text-body);
    margin-bottom: 0.5rem;
    font: var(--bodySm);
  }

  input {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
  }

  input::placeholder {
    color: var(--input-placeholder);
    font: var(--bodyMd);
  }
}

.input-tipo-local {
  display: flex;
  p {
    color: var(--text-body);
    margin-bottom: 0.5rem;
    font: var(--bodySm);
  }

  gap: 1rem;
}

.input-tipo-local input[type="radio"] {
  display: none; /* Aqui que esconde a bolinha! */
}

.input-tipo {
  gap: 1rem;
  margin-top: 1.5rem;
}

.only-type {
  display: flex;
  gap: 1rem;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  align-items: center;
  height: 48px;

  label {
    color: var(--text-body);
    font: var(--bodySm);
  }

  img {
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;
  }
}

.input-local {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;

  p {
    color: var(--text-body);
    font: var(--bodySm);
  }

  input {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
  }
}

.presencial:hover {
  padding: 4px;
  border-radius: 4px;
  background-color: var(--shape-button);
  transition: 0.2s;
}

.online:hover {
  padding: 4px;
  border-radius: 4px;
  background-color: var(--shape-button);
  transition: 0.2s;
}

.input-descricao {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;

  p {
    color: var(--text-body);
    font: var(--bodySm);
    margin-bottom: 0.5rem;
  }

  textarea {
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    height: 136px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
  }

  textarea::placeholder {
    color: var(--input-placeholder);
    font: var(--bodyMd);
  }
}

.text-personalizacao {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  p {
    color: var(--text-body);
    font: var(--headingSm);
  }
}

.botoes-cores {
  display: flex;
  gap: 1rem;
  button {
    width: 28px;
    height: 28px;
    border-radius: 999px;
    border: none;
  }

  button:hover {
    border: 2px solid var(--brand-light);
    transition: 0.2s;
  }
}

.personalizacao-botoes {
  p {
    color: var(--text-body);
    font: var(--bodySm);
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }
}

.cards-and-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 134px;
  height: 103px;
  padding: 3px;
  border-radius: 8px;
  background-color: var(--shape-button);

  img {
    width: 100%;
  }

  p {
    font: var(--bodySm);
    color: var(--text-heading);
    margin-top: 0.5rem;
    text-align: center;
  }

  &:hover {
    border: 1px solid var(--brand-light);
    transition: 0.2s;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.text-cards {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  p {
    color: var(--text-body);
    font: var(--bodySm);
  }
}

.estilo {
  p {
    color: var(--text-body);
    font: var(--bodySm);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.button-check {
  display: flex;
  gap: 0.5rem;
  line-height: 32px;

  p {
    margin: 0;
    display: flex;
    align-items: center;
    height: 32px;
  }

  button {
    width: 64px;
    height: 32px;
    border-radius: 999px;
    border: none;
    background-color: var(--input-stroke);
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #ccc;
    transition: 0.2s;
  }

  .toggle-btn.active {
    background-color: var(--brand-light);
  }

  .toggle-circle {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s;
  }

  .toggle-btn.active .toggle-circle {
    left: 36px;
  }
}

.input-arquivo {
  display: flex;
  width: fit-content;
  margin-top: 0.8rem;
  align-items: center;
  cursor: pointer;
  height: 40px;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--shape-button);

  label {
    color: var(--text-heading);
    font: var(--bodySm);
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  img {
    margin-right: 1rem;
    width: 20px;
    height: 20px;
    display: inline-flex;
    vertical-align: middle;
  }

  &:hover {
    background-color: var(--input-stroke);
    transition: 0.2s;
  }
}

.estilo-capa {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#file-upload {
  display: none;
}

.foto-capa {
  p {
    color: var(--text-body);
    font: var(--bodySm);
  }
}

.foto-capa-texto {
  margin-top: 1.5rem;
}

.input-full {
  display: flex;
  gap: 1rem;
  align-items: center;

  text-align: center;
}

.text-cadastro {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  p {
    color: var(--text-body);
    font: var(--bodySm);
  }
}

.input-nome {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  p {
    color: var(--text-body);
    font: var(--bodySm);
  }

  input {
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    margin-top: 0.5rem;
  }

  input::placeholder {
    color: var(--input-placeholder);
    font: var(--bodyMd);
  }
}

/* Estilização para mensagem de erro */
.mensagem-erro {
  color: var(--danger);
  font: var(--bodySm);
  margin-top: 0.5rem;
  display: none;
}

/* Mostra mensagem de erro quando o input for marcado como inválido */
.campo-obrigatorio.invalido + .mensagem-erro {
  display: block;
}

/* Destaca o input inválido com borda vermelha */
.campo-obrigatorio.invalido {
  border-color: var(--danger);
  outline-color: var(--danger);
}

.email-telefone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1.5rem;
}

.input-email {
  display: flex;
  flex-direction: column;
  p {
    color: var(--text-body);
    font: var(--bodySm);
  }

  input {
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    margin-top: 0.5rem;
  }

  input::placeholder {
    color: var(--input-placeholder);
    font: var(--bodyMd);
  }
}

.input-telefone {
  display: flex;
  flex-direction: column;
  p {
    color: var(--text-body);
    font: var(--bodySm);
  }

  input {
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    margin-top: 0.5rem;
  }

  input::placeholder {
    color: var(--input-placeholder);
    font: var(--bodyMd);
  }
}

hr {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--input-stroke);
}

.botao {
  display: flex;

  button {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    margin-bottom: 0.5rem;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  /* Estilo para quando o botão estiver marcado */
  button.checked {
    background-color: var(--brand-light);
    border-color: var(--brand-light);
  }

  /* Símbolo de check usando pseudo-elemento */
  button.checked::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  p {
    color: var(--text-body);
    font: var(--bodySm);
    margin-left: 0.8rem;
  }

  span {
    color: var(--brand-light);
  }
}

.gerar-convite {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 20px;
  cursor: pointer;
  height: 48px;
  margin-left: auto;
  background-color: var(--brand-light);
  width: fit-content;
  border-radius: 8px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  transition: background-color 0.3s;
  p {
    color: var(--text-heading);
    font: var(--bodySm);
  }

  &:hover {
    background-color: var(--brand-dark);
  }
}

#gerar-convite {
  display: none;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  .inputs-data {
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
  }

  .input-tipo-local {
    flex-direction: column;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .email-telefone {
    grid-template-columns: 1fr;
  }

  .estilo-capa {
    grid-template-columns: 1fr;
  }
}
